/*RESET*/
h1, h2, p, a, header, body, section{
    margin: 0;
    
}

a{
    color: #fff;
    text-decoration: none;
}

/*HEADER*/


header{
    align-items: center;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    font-family: "Noto Sans", sans-serif;
    position: fixed;
    width:100%;
    height: 100px;
    z-index: 10; /* Garante que o header fica sempre por cima */
}

header h1{
    font-size: 20px;
    color: #bc5e68;
}

header h2{
    font-size: 10px;
    color: #bc5e68;
    
}



div {
   margin: 30px;
   

}

a{
    margin: 30px;
    border: 20px solid #bc5e68;
    border-radius: 90px;
    background-color: #bc5e68;
}

/*BODY*/

.hero{
    background-image: url(../imagens/imagem.fundo.jpeg);
    background-size: cover;
    background-attachment: fixed;
    font-family: "Noto Sans", sans-serif;
     
   
}

/*PRIMEIRO*/

.primeiro{
    padding: 150px 30px 100px 30px;
    width: 50%;
     color: #bc5e68;
     backdrop-filter: blur(5px);
    border-radius: 20px;
}

.primeiro h1{
    font-size: 60px;
    width: 50%;
    
    
}


.primeiro h2{
    font-size: 30px;
     padding: 0 0 20px 0px;

}

/*SEGUNDO*/



.segundo{
    padding: 10px 0 20px 0;
    margin-top: 10%;
    margin-left: 30px;
     color: #bc5e68;
      backdrop-filter: blur(5px);
      border-radius: 20px;
      width: 70%;
      
      
}

.segundo h2{
    font-size: 30px;


}

.segundo p{
    color: #fff;
    width: 60%;
    padding: 10px 0 10px 0;
    font-size: 20px;
}




/*TERCEIRO*/

.terceiro{
    padding: 10px 0 30px 0;
    margin-top: 10%;
    color: #bc5e68;
     margin-left: 30px;
     backdrop-filter: blur(5px);
     border-radius: 20px;
      width: 70%;
      
}



.terceiro h1{
    font-size: 30px;
    margin-top: 10%;
}


.terceiro p{
     color: #fff;
    width: 50%;
    padding: 10px 0 0px 0;
    font-size: 20px;
}

/*TESTEMUNHOS*/

.testemunhos{
    backdrop-filter: blur(5px);
     border-radius: 20px;
      margin-top: 10%;


}



.testemunhos h1{
     padding: 20px 0 0;
     color: #bc5e68;
     margin-left: 30px;
     font-size: 25px;
     
     
}

.testemunhos article{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    backdrop-filter: blur(5px);
    border-radius: 5%;
    
}


.testemunhos p{
    
    color: #000000;
     margin-left: 30px;
     font-size: 16px;
     width: 70%;
}


.testemunhos article div{
    text-align: center;
    width: 40%;
    display: inline-block; 
    padding: 5px 10px; 
    background-color: #ffd1b3; 
    border-radius: 10px; 
    color: #000000; 
}



/*FORM*/
.win{
    width: 60%;
    margin: 30px;
    text-align: right;
    margin-top: 10%;
    font-family: "Noto Sans", sans-serif;
    
    }

  

.input-element, .message{
    display: block;
    width: 100%;
    padding: 15px 20px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    
    

}

.message{
    height: 150px;
    font-family: "Noto Sans", sans-serif;
    font-size: 16px;
    resize: vertical;
   border: 20px #bc5e68;
}

.btn{
    background-color: #bc5e68;
     padding: 15px 20px;
     border: none;
      border-radius: 5px;
      color: #fff;
}

/*FOOTER*/

.social{
    margin-bottom: 50px;
    text-align: center;
    font-size: 20px;
    
}

.social a{
    margin: 0 5px;
    
   
}

.social img{
    width: 30px;
    

}

.social p{
    color: #ffd1b3;
    margin-top: 30px;
    margin-bottom: 30px;
   

}










